body {
    margin: 0;
    direction: rtl;
    text-align: right;/**/
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 90px;/**/
    /* background-color: gray; */
    background-color: rgb(144, 144, 144);
}

.dropdown-content {
    background-color: rgb(144, 144, 144);
}

header > div:first-child, .flex-container {
    width: 900px;
    margin: auto;
    /* background-color: salmon; */
}

#search-component {
    /* background-color: seagreen; */
    /* float: left; */
    justify-content: flex-end;
    padding-top: 20px;
    display: flex;
}

#search-component > a:first-child {
    color: white;
    text-decoration: none;
    margin-top: 3px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 12px;
}

#search-component > a:first-child:hover, nav a:hover {
    color: #005CA0;
    text-decoration: underline;
}

#search-text-box {
    width: 126px;
    border: none;
    padding: 0;
    display: inline;
}

nav {
    /* padding-top: 50px; */
    margin-top: 20px;
}

nav > ul {
    display: flex;
    list-style: none;
    padding-right: 0;
    position: relative;
    margin-right: 110px;
}

li {
    margin: 10px;
}

li:first-child {
    top: -35px;
    right: -150px;
    position: absolute;
    /* background-color: teal; */
}

nav a {
    /* padding: 10px; */
    color: white;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 20px;
}

/* li::after {
    content: "<li><img src=\"menu_sep.png\" alt=\"Menu Seperator\"></li>";
} */

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: max-content;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    /* top: 35px; */
    /* padding-top: 20px; */
    /* border-top: transparent; */
}

.dropdown:hover > .dropdown-content {
    display: block;
}

.dropdown-content > a {
    padding: 5px;
}

.dropdown-content > img {
    width: 5px;
    /* height: 5px; */
}

.dropdown-content > a:hover {
    background-color: #bcbcbc;
}

/* header > div:last-child { */
#fading-background {
    /* background-image: linear-gradient(rgb(144, 144, 144), lightgray); */
    background-image: linear-gradient(rgb(144, 144, 144), rgb(185, 185, 185));
    /* background-image: linear-gradient(rgb(144, 144, 144), gray); */
    height: 15px;
}

main {
    margin-top: 30px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    /* border: solid; */
    /* flex: 1; */
    flex-basis: 31.5%;
    position: relative;
}

p {
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    width: 228px;
}

.text-over-image {
    color: white;
    bottom: 5px;
    right: 7px;
    position: absolute;
    /* width: 228px; */
    padding-left: 10px;
    background-color: rgba(144, 144, 144, 0.9);
}

.text-over-image > h1 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 0;
    margin-right: 10px;
}

.read-more {
    float: left;
}

.read-more > a {
    color: white;
    font-size: 13px;
}

.read-more > a:hover {
    color: #005CA0;
    content: bla;
}

.read-more > a > img {
    margin-right: 5px;
}

/* .read-more img {
    content: url("images\menu_home_blue.png");
} */