body {
    margin: 0;
    direction: rtl;
    text-align: right;/**/
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 90px;/**/
    /* background-color: gray; */
    background-color: rgb(144, 144, 144);
}

.dropdown-content {
    background-color: rgb(144, 144, 144);
}

header > div:first-child {
    width: 900px;
    margin: auto;
    /* background-color: salmon; */
}

#search-component {
    /* background-color: seagreen; */
    /* float: left; */
    justify-content: flex-end;
    padding-top: 20px;
    display: flex;
}

#search-component > a:first-child {
    color: white;
    text-decoration: none;
    margin-top: 3px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 12px;
}

#search-component > a:first-child:hover, nav a:hover {
    color: #005CA0;
    text-decoration: underline;
}

#search-text-box {
    width: 126px;
    border: none;
    padding: 0;
    display: inline;
}

nav {
    /* padding-top: 50px; */
    margin-top: 30px;
}

nav > ul {
    display: flex;
    list-style: none;
    padding-right: 0;
    position: relative;
    margin-right: 70px;
}

li {
    margin: 10px;
}

li:first-child {
    top: -50px;
    right: -130px;
    position: absolute;
    /* background-color: teal; */
}

nav a {
    /* padding: 10px; */
    color: white;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

/* li::after {
    content: "<li><img src=\"menu_sep.png\" alt=\"Menu Seperator\"></li>";
} */

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: max-content;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.dropdown:hover > .dropdown-content {
    display: block;
}

.dropdown-content > a {
    padding: 5px;
}

.dropdown-content > img {
    width: 5px;
    /* height: 5px; */
}

.dropdown-content > a:hover {
    background-color: #bcbcbc;
}

/* header > div:last-child { */
#fading-background {
    /* background-image: linear-gradient(rgb(144, 144, 144), lightgray); */
    background-image: linear-gradient(rgb(144, 144, 144), rgb(185, 185, 185));
    /* background-image: linear-gradient(rgb(144, 144, 144), gray); */
    height: 15px;
}