body {
    margin: 0;
    direction: rtl;
    text-align: right;/**/
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 90px;/**/
    /* background-color: gray; */
    background-color: rgb(144, 144, 144);
}

.dropdown-content {
    background-color: rgb(144, 144, 144);
}

header > div:first-child, .flex-container {
    width: 900px;
    margin: auto;
    /* background-color: salmon; */
}

#search-component {
    /* background-color: seagreen; */
    /* float: left; */
    justify-content: flex-end;
    padding-top: 20px;
    display: flex;
}

#search-component > a:first-child {
    color: white;
    text-decoration: none;
    margin-top: 3px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 12px;
}

#search-component > a:first-child:hover, nav a:hover, footer a:hover, footer li:last-child a:hover {
    color: #005CA0;
    text-decoration: underline;
}

#search-text-box {
    width: 126px;
    border: none;
    padding: 0;
    display: inline;
}

nav {
    /* padding-top: 50px; */
    margin-top: 20px;
}

nav > ul {
    display: flex;
    list-style: none;
    padding-right: 0;
    position: relative;
    margin-right: 110px;
}

nav > ul > li {
    margin: 10px;
}

nav > ul > li:first-child {
    top: -35px;
    right: -150px;
    position: absolute;
    /* background-color: teal; */
}

nav a {
    /* padding: 10px; */
    color: white;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 20px;
}

/* li::after {
    content: "<li><img src=\"menu_sep.png\" alt=\"Menu Seperator\"></li>";
} */

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: max-content;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* top: 35px; */
    /* padding-top: 20px; */
    /* border-top: transparent; */
}

.dropdown:hover > .dropdown-content {
    display: block;
}

.dropdown-content > a {
    padding: 5px;
}

.dropdown-content > img {
    width: 5px;
    /* height: 5px; */
}

.dropdown-content > a:hover {
    background-color: #bcbcbc;
}

/* header > div:last-child { */
#fading-background {
    /* background-image: linear-gradient(rgb(144, 144, 144), lightgray); */
    background-image: linear-gradient(rgb(144, 144, 144), rgb(185, 185, 185));
    /* background-image: linear-gradient(rgb(144, 144, 144), gray); */
    height: 15px;
}

#fading-background2 {
    /* background-image: linear-gradient(rgb(144, 144, 144), lightgray); */
    /* background-image: linear-gradient(rgb(144, 144, 144), rgb(185, 185, 185)); */
    /* background-image: linear-gradient(rgb(144, 144, 144), gray); */
    background-image: linear-gradient(rgb(203, 203, 203), rgb(144, 144, 144));
    height: 13px;
}

main {
    margin-top: 30px;
    margin-bottom: 70px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    /* border: solid; */
    /* flex: 1; */
    flex-basis: 31.5%;
    position: relative;
}

p {
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    width: 228px;
}

.text-over-image {
    color: white;
    bottom: 5px;
    right: 7px;
    position: absolute;
    /* width: 228px; */
    padding-left: 10px;
    background-color: rgba(144, 144, 144, 0.9);
}

.text-over-image > h1 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 0;
    margin-right: 10px;
}

.read-more, .more-details {
    float: left;
}

.read-more > a {
    color: white;
    font-size: 13px;
}

.more-details > a, #branches a {
    font-size: 13px;
    color: rgb(114, 113, 109);
}

.read-more > a:hover, .more-details > a:hover, #branches a:hover {
    color: #005CA0;
}

.read-more > a > img, .more-details > a > img {
    margin-top: 20px;
    margin-right: 5px;
}

#branches img {
    margin-right: 5px;
}

.more-details {
    margin-bottom: 20px;
}

/* .read-more img {
    content: url("images\menu_home_blue.png");
} */

main > div:last-child {
    margin-top: 18px;
}

/* main > .flex-container:first-child > .flex-item { */
    main > .flex-container:first-child > .flex-item > img, .text-over-image {
    border-bottom-right-radius: 25px;
}

main > .flex-container:last-child > .flex-item {
    color: #575757;
    /* border: solid; */
    /* border: groove thin; */
    border: 2px solid rgb(236, 236, 236);
    border-top-right-radius: 25px;
    /* border-width: 5px; */
    /* border-color: rgb(236, 236, 236); */
    background-image: linear-gradient(white, rgb(236, 236, 236));
    /* font-weight: bold; */
}

main > .flex-container:last-child > .flex-item > div {
    /* background-color: violet; */
    width: 244px;
    margin: auto;
}

main > .flex-container:last-child > .flex-item > div > h3 {
    font-size: 14px;
    margin-top: 7px;
    /* text-align: center; */
}

main > .flex-container:last-child > .flex-item > div > h3:first-child {
    margin-bottom: 0;
}

main > .flex-container:last-child > .flex-item > div > h3:nth-child(2) {
    margin-top: 0;
    color: rgb(236, 236, 236);
    font-weight: bolder;
    /* background-color: royalblue; */
}

main > .flex-container:last-child > .flex-item:last-child > div > img {
    float: left;
}

#branches {
    float: right;
}

#branches ul {
    padding: 0;
    list-style: none;
    /* display: block; */
}

#branches li {
    margin-bottom: 4px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* background-image: linear-gradient(rgb(203, 203, 203), rgb(144, 144, 144)); */
    background-color: rgb(144, 144, 144);
}

footer ul {
    display: flex;
    list-style: none;
    margin-bottom: 3px;
    margin-top: 0;
}

footer li:nth-child(even) {
    color: white;
    margin-left: 4px;
    margin-right: 4px;
    /* color: red; */
}

footer li:last-child a {
    color: red;
}

footer a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    outline: none;
}