body {
    margin: 0;
    direction: rtl;
    text-align: right;/**/
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 105px;/**/
    /* background-color: gray; */
    background-color: rgb(144, 144, 144);
}

header > div {
    width: 900px;
    margin: auto;
    /* background-color: salmon; */
}

#search-component {
    /* background-color: seagreen; */
    float: left;
    /* justify-content: flex-end; */
    margin-top: 20px;
    display: flex;
}

#search-component > a:first-child {
    color: white;
    text-decoration: none;
    margin-top: 3px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 12px;
}

#search-component > a:first-child:hover {
    color: #005CA0;
    text-decoration: underline;
}

#search-text-box {
    width: 126px;
    border: none;
    padding: 0;
    display: inline;
}